/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
}

h3 {
    color: green;
    font-size: 20px;
}

h5 {
    font-weight: 300;
    font-size: 24px;
}

h6 {
    font-size: 18px;
    font-weight: 300;
    color: #999;
}

p {
    font-weight: 300;
    color: #999;
}

.container {
    width: 85%;
    margin: auto;
}

.btn {
    padding: 6px;
    color: white;
    border-radius: 5px;
    border: 1px solid #4e8cb6;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
}

.btn-primary {
    background-color: #7fb802;
    border-color: #7fb802;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

/* HEADER */

header {
    width: 100%;
    height: 500px;
    background-color: #0D325A;
}

.header-top {
    width: 100%;
    height: 100px;
}

.logobox {
    width: 15%;
    float: left;
}

.logobox img {
    padding-top: 25px;
}

.header-top nav {
    width: 55%;
    float: left;
}

#top-menu li {
    display: inline-block;
}

#top-menu li a {
    height: 100px;
    padding-right: 10px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    line-height: 100px;
    font-size: 12px;
}

#top-menu li a:hover {
    color: #f8b71c;
}

.header-cta {
    width: 30%;
    float: left;
    height: 100%;
    text-align: right;
}

.header-cta a:first-child {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 100px;
}

.header-bottom {
    background-image:
    url("https://cdn.fluentify.com/bundles/fluentifypublic/images/r4b/01/xoldman.png.pagespeed.ic.dfg9F8pm_f.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    height: 80%;
}

#jumbotron-wrap {
    height: 400px;
    position: relative;
}

#jumbotron-content {
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#jumbotron-content h1 {
    color: white;
    margin-bottom: 30px;
}

/* MAIN CONTENT */

section {
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding-top: 20px;
    padding-bottom: 50px;
}

.accent {
    width: 100%;
    height: 150px;
    background-color: #f9f9f9;
}

main .accent:first-child .container{
    text-align: center;
    line-height: 40px;
    padding-top: 35px;
}

main .accent:first-child .container p{
    font-size: 18px;
}

.box {
    padding: 0 10px;
}

.col33 {
    width: 32%;
    float: left;
}

#offer {
    text-align: center;
}

#offer img {
    height: 160px;
    margin-top: 20px;
    margin-bottom: 40px;
}

#offer .short {
    width: 32px;
    color: #999;
    display: inline-block;
    margin: 20px 0;
}

#offer p {
    line-height: 30px;
}

.col50 {
    width: 50%;
    float: left;
}

#makeaplan-1 .box:first-child {
    margin-top: 40px;
}

#makeaplan-1 .imgbox {
    width: 400px;
    height: 400px;
    background-image:
    url("https://cdn.fluentify.com/bundles/fluentifypublic/images/r4b/01/mountain.svg?v17");
    background-repeat: no-repeat;
}

.a-lightblue {
    color: #98c8f8;
}

#makeaplan-1 .box:last-child {
    margin-top: 80px;
}

#makeaplan-1 h6 {
    margin: 30px 0;
}

/* ??????????????????????????????????

 #offer .imgbox:first-child {
    background-image:
    url("https://cdn.fluentify.com/bundles/fluentifypublic/images/r4b/01/profile.svg?v17")
    background-color: blue;
} */

 #makeaplan-1 + .accent .box:first-child{
    float: left;
}

#makeaplan-1 + .accent h2{
    line-height: 150px;
}

#makeaplan-1 + .accent p {
    line-height: 150px;
}

#makeaplan-1 + .accent .box:last-child {
    float: right;
    width: 29%;
}

#makeaplan-1 + .accent .box:last-child * {
    display: inline-block;
}

.bluebg {
    background-color: #0D325A;
}

.bluebg h2 {
    color: #fff;
}

.bluebg h6 {
    line-height: 28px;
}

#onetoone div:last-child {
    background-image:
    url("https://cdn.fluentify.com/bundles/fluentifypublic/images/r4b/01/onetoone_session_pc.png?v17");
    background-size: contain;
    background-repeat: no-repeat;
}

/* footer {
    background-color: #17406B;
}
*/
